<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627562025097-qcjnqb5vkbq3hstejbe2tun7ni2cmj21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627562025097-qcjnqb5vkbq3hstejbe2tun7ni2cmj21</string>
	<key>API_KEY</key>
	<string>AIzaSyBjGDkMJNNkF7NH_Sajg54LkwlKZ0m88v4</string>
	<key>GCM_SENDER_ID</key>
	<string>627562025097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-f4dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-f4dd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627562025097:ios:012cdaf2c287243b2bf658</string>
</dict>
</plist>